{% extends 'blog/base.html' %}

{% block content %}
<div class="divclass-content">
{% if article %}
    <h2>Title: {{ article.title }}</h2>
    {% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        {{ post.toc | safe }}
    </div>
{% endblock toc %}
    <p>Author: {{ article.author }}</p>
    <p>TIME: {{ article.ctime }}</p>
    <p>Content: {{ article.content | safe }}</p>

{% endif %}
<form action="{% url 'comments:comments' article.pk %}" method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.name.id_for_label }}">Username</label>
    <input type="text" class="form-control" name="name" placeholder="Username">
      {{ form.name.errors }}
  </div>
  <div class="form-group">
    <label for="{{ form.email.id_for_label }}">Email</label>
    <input type="email" class="form-control" name="email" placeholder="Email">
      {{ form.email.errors }}
  </div>
  <div class="form-group">
    <label for="{{ form.text.id_for_label }}">Text</label>
    <input type="text" class="form-control" name="text" placeholder="Write your comment" >
      {{ form.text.errors }}
  </div>
  <button type="submit" class="">Submit</button>
</form>
<ul class="comment-list list-unstyled">
  {% for comment in comment_list %}
      <div class="list-group">
  <li class="comment-item">
    <span class="nickname">{{ comment.name }}</span>
    <time class="submit-date">{{ comment.created_time }}</time>
    <div class="text">
      {{ comment.text }}
    </div>
  </li>
      </div>
  {% empty %}
  暂无评论
  {% endfor %}
</ul>
</div>

{% endblock  %}
